@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
}

h5 {
    font-weight: bold;
    font-size: 16px;
}

input, button:focus {
    outline: none;
}

.tabs-container {
    position: absolute;
    left: calc( 50% - 150px );
    top: 40px;
    width: 300px;
    height: 40px;
}

.tabs-container button {
    float: left;
    width:  50%;
    height:  100%;
    border: none;
    background: #EEE;
    font-size: 15px;
    font-family: Arial;
    color: #333;
}
.tabs-container button:focus {
    outline: none;
}
.tabs-container button.active {
    background: #444;
    color: #FFF;
}

.search-container {
    position: absolute;
    left: calc( 50% - 200px );
    top: 120px;
    width: 400px;
    height: 30px;
}
.search-container input {
    float: left;
    width: calc( 100% - 70px );
    height: 100%;
    border: none;
    border-bottom: 1px solid #444;
    text-align: center;
    font-size: 16px;
}
.search-container input:focus {
    outline: none;
}
.search-container button {
    float: left;
    width: 70px;
    height: 100%;
    font-size: 12px;
    background: #444;
    color: #eee;
    border: none;
}

.results-container {
    position: absolute;
    left: calc( 50% - 350px );
    top: 180px;
    width: 700px;
    height: 30px;
}

.results-container .subcontainer {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px; 
    background: #EAEAEA;
    box-shadow: 0px 0px 10px #aaa;
}